<hr>

{% assign catSize = include.categories | size %}
{% if catSize > 1 %}<!-- es posts have two categories, only evaluate the second -->
{% assign thisCat = include.categories[1] %}
{% else %}
{% assign thisCat = include.categories | join:'' %} 
{% endif %}

<!-- next post in category -->

{% for category in site.categories %}{% assign catg_name = category.first %}{% assign cur_cat = thisCat | downcase %}{% if catg_name == cur_cat %}{% assign catg_posts = category.last %}{% endif %}{% endfor %}{% for post in catg_posts %}{% if post.title == page.title %}{% unless forloop.last %}{% assign prev = catg_posts[forloop.index] %}<!--<a href="{{site.baseurl}}{{ prev.url }}">{{ prev.title }}</a>-->{% endunless %}{% endif %}{% assign next = post %}{% endfor %}{% for post in catg_posts %}{% if post.title == page.title %}{% unless forloop.first %}
<div class='prose prose-big space-bottom2'>
  <small class=' strong block'>{{'Next' | swap: page.lang}}:</small>
  <a href='{{site.baseurl}}{{ next.url }}' class='quiet block space-bottom1'>{{ next.title }} <span class='icon next inline'></span></a>
  <p class='small '>{{next.summary}}</p>
</div>
{% endunless %}
{% unless forloop.first == false %}

<!-- back to category -->
<div class='prose quiet'>
  <div class='space-bottom0'>{{'This is the last guide in this category.' | swap: page.lang}}</div>
  {% if currentCategory %}<a href='{{site.baseurl}}{{currentCategoryLink}}/' class='icon quiet prev block space-bottom1'>{{'back to' | swap: page.lang}} {{currentCategory}}</a>{% endif %}
  <a href='{{site.baseurl}}/{% if page.lang != 'en' %}{{page.lang}}/{% endif %}' class='icon quiet prev block'>{{'back to' | swap: page.lang}} {{'Mapping with' | swap: page.lang }} OpenStreetMap</a>
</div>
<!-- /back to category -->

{% endunless %}
{% endif %}{% assign next = post %}{% endfor %}
<!-- /next post in category -->
