<!-- get category-->
{% assign categories = site.pages | where: 'layout', 'category' | sort: 'order' %}
{% for category in categories %}
{% assign thisCategory = page.categories | join: '' %}
{% assign stripCategory = category.dir | downcase | replace:'/','' %}
{% if stripCategory == thisCategory %}
{% assign currentCategory = category.title %}
{% assign currentCategoryLink = category.dir %}
{% assign currentCategoryColor = category.color %}
{% endif %}
{% endfor %}


<div class="pager round pad1y quiet space-bottom4 fill-{% if page.color %}{{page.color}}{% else %}{{currentCategoryColor}}{% endif %} breadcrumb small dark">
	<div class="pad2x clearfix contain">
		<a href="{{site.baseurl}}{% if page.lang != 'en' %}/{{page.lang}}{% endif %}/" class="strong fill-darken0 pad0y pad1x round icon prev">{% include translate.html swap='Mapping' lang=page.lang %}</a>

		{% if currentCategory %}
    <a href="{{site.baseurl}}{{currentCategoryLink}}" class="fill-darken0 pad0y pad1x round">{{ currentCategory }}</a>
    <span class="active pad0y pad1x">{{ page.title }}</span>

    {% else %}
    <span class="active pad0y pad1x">{{ page.title }}</span>
    {% endif %}

	</div>
</div>