<!-- Search form -->
<div id="guide-search" class="limiter">
  <div class="clearfix contain">
    <div id="search" class="contain col8 margin2">

      <fieldset class="quiet with-icon space-bottom2">
        <span class="icon search"></span>
        <input type="text" id="search" class="col12 round clean search-input" placeholder="{% include translate.html swap='Search' lang=page.lang %}&hellip;">
      </fieldset>
    </div>

    <!--<div class="pin-right">
    <div class="guide-toggle rounded-toggle inline fill-gray">
    <input class="view-toggle" id="categories" type="radio" name="viewToggle" value="guide-categories" checked="checked">
    <label for="categories" class="icon grid long">Categories</label>
    <label for="categories" class="icon grid short"></label>
    <input class="view-toggle" id="list" type="radio" name="viewToggle" value="guide-list">
    <label for="list" class="icon menu long">List</label>
    <label for="list" class="icon menu short"></label>
  </div>
</div>-->
</div>

<!-- Search results placeholder -->
<div id="search-results-status">
  <p>
    <span id="search-result-count"></span> {% include translate.html swap='results for' lang=page.lang %} &ldquo;<span id="search-term"></span>&rdquo;
    <button id="btn-clear" class="button short quiet stroke margin0">{% include translate.html swap='Clear search' lang=page.lang %}</button>
  </p>
  <div id="search-results"></div>
</div>
</div>

<script src="{{site.baseurl}}/js/lunr.min.js"></script>
<script src="{{site.baseurl}}/js/lunr-search.js"></script>
<script>
// queries and build results
$(document).ready(function () {
  // this is where you put the results
  var resultdiv = $('#search-results');

  // hide search on load
  $('#search-results-status').hide();

  // clear results when clicked/toggled
  $('.view-toggle, #btn-clear').click(function(){
    $('#search-results-status').hide();
    resultdiv.empty();
    $('input#search').val('');
    var query = null;
  });

  // Let's search some thangs
  $('input#search').on('keyup', function () {

    // Get query
    var query = $(this).val();
    // Search for it
    var result = index.search(query);
    // Update the counter
    $('#search-result-count').text(result.length);
    // Update the query placeholder
    $('#search-term').text(query);
    // Output results
    $('#search-results-status').show();

    // Show results
    resultdiv.empty();
    for (var item in result) {
      var ref = result[item].ref;
      if (store[ref].lang == '{{lang}}') {
        var searchitem = '<div class="fill-white pad4 pad4x space-bottom2 round post contain clearfix"><div class="post-side fill-'+store[ref].color+' clearfix"></div><div class="col8 pad4x keyline-right"><h3 class="pad0y"><a href="'+store[ref].link+'">'+store[ref].title+'</a></h3>';
        if (store[ref].category) {
          searchitem +='<em class="quiet small">'+store[ref].category+'</em>';  
        }
        searchitem += '<p class="prose quiet">'+store[ref].excerpt+'</p></div><div class="col4 pad4x"><a class="round pad1y small strong pad2x fill-'+store[ref].color+' rcon next space-bottom2" href="'+store[ref].link+'">{% include translate.html swap='Read this guide' lang=page.lang %}</a><div class="col12"></div></div></div>';
        resultdiv.append(searchitem);
      }

    }
    resultdiv.show();
  });
});
</script>