<!DOCTYPE html >
<html>
<head>
  <meta http-equiv='content-type' content='text/html; charset=utf-8' />
  <meta charset='UTF-8'/>
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta name='robots' content='{% if page.hidden %}noindex{% else %}index{% endif %}'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <meta name='apple-mobile-web-app-capable' content='yes' />
  {% if page.description %}<meta name='description' content='{{page.description | strip_html}}'/>{% endif %}
  <title>{% if page.title == 'Mapbox' %}{{page.title}} | Design and publish beautiful maps{% else %}{{page.title}} | Mapbox{% endif %}</title>
  {% if page.card %}
  <meta name='twitter:site' content='@Mapbox' />
  <meta property='og:site_name' content='Mapbox' />
  <meta name='twitter:url' content='{% if page.permalink %}{{page.permalink}}{% else %}{{page.url | replace:"index.html",""}}{% endif %}' />
  <meta property='og:url' content='{% if page.permalink %}{{page.permalink}}{% else %}{{page.url | replace:"index.html",""}}{% endif %}' />
  <meta name='twitter:title' content='{{page.title | replace:"'","&rsquo;" | replace:"'","&rsquo;"}}' />
  <meta property='og:title' content='{{page.title | replace:"'","&rsquo;" | replace:"'","&rsquo;"}}' />
  <meta name='twitter:description' content='{% if page.description %}{{ page.description | truncatewords: 30 }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | replace:"'","&rsquo;" | replace:"'","&rsquo;" | truncatewords: 30 }}{% else %}{{content | strip_html | truncatewords: 30 }}{% endif %}' />
  <meta property='og:description' content='{% if page.description %}{{ page.description | truncatewords: 30 }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | replace:"'","&rsquo;" | replace:"'","&rsquo;" | truncatewords: 30 }}{% else %}{{content | strip_html | truncatewords: 30 }}{% endif %}' />

  {% endif %}
  {% if page.video %}
  <meta name='twitter:card' content='player' />
  <meta name='twitter:player' content='{{page.video | replace: "http:" , "https:" }}' />
  <meta name='twitter:player:width' content='640' />
  <meta name='twitter:player:height' content='480' />
  <meta property='og:type' content='video.other' />
  <meta property='og:video' content='{{page.video}}' />
  <meta property='og:video:width' content='640' />
  <meta property='og:video:height' content='480' />
  {% elsif page.image %}
  <meta name='twitter:image' content='{{page.image | replace:"https:","http:"}}' />
  <meta name='st:image' content='{{page.image | replace:"https:","http:"}}' />
  <meta property='og:image' content='{{page.image | replace:"https:","http:"}}' />
  <meta name='twitter:card' content='summary_large_image' />
  <meta property='og:type' content='website' />
  {% endif %}
  <meta name="p:domain_verify" content="57838af58c8045c2c024bc2f9d1577f9"/>

  <link href='{% if site.baseApi %}{{site.baseApi}}{% else %}https://www.mapbox.com{% endif %}/base/latest/base.css?v1.0' rel='stylesheet' />
  <link href='{{site.url}}/css/site.css' rel='stylesheet' />
  <!--[if IE 9]><link href='{{site.url}}/css/site-ie9.css' rel='stylesheet' /><![endif]-->
  <link rel='shortcut icon' href='{{site.url}}/img/favicon.ico' type='image/x-icon' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='{{site.url}}/blog/blog.rss' />

  {% unless page.nomapboxjs %}
  <link href='{% if site.mapboxjsbase %}{{site.mapboxjsbase}}{% else %}https://api.tiles.mapbox.com/mapbox.js/{% if site.mapboxjs %}{{site.mapboxjs}}{% else %}v1.6.5{% endif %}{% endif %}/mapbox.css' rel='stylesheet' />
  {% endunless %}

  <!--[if lt IE 9 ]><script src='{{site.url}}/js/redirect-ie.js'></script><![endif]-->
  <script src='https://js.stripe.com/v2/'></script>
  <script>
  var KM_COOKIE_DOMAIN = 'www.mapbox.com';
  var analytics=analytics||[];(function(){var e=['identify','track','trackLink','trackForm','trackClick','trackSubmit','page','pageview','ab','alias','ready','group'],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement('script');t.type='text/javascript',t.async=!0,t.src=('https:'===document.location.protocol?'https://':"http://")+'d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/'+e+'/analytics.min.js';var n=document.getElementsByTagName('script')[0];n.parentNode.insertBefore(t,n)};
  analytics.load(window.location.hostname.indexOf('mapbox.com') !== -1 ? 'fl0c8p240n' : '0biiejpgfj');

  Stripe.setPublishableKey(window.location.hostname.indexOf('mapbox.com') !== -1 ?
    'pk_live_hI6mmOTIg7KkywK6vo3vJvpk' : 'pk_test_gmIyREg3sKzAiyMkAEeCsxUG');
  </script>
  {% unless page.nomapboxjs %}
  <script src='{% if site.mapboxjsbase %}{{site.mapboxjsbase}}{% else %}https://api.tiles.mapbox.com/mapbox.js/{% if site.mapboxjs %}{{site.mapboxjs}}{% else %}v1.6.5{% endif %}{% endif %}/mapbox.js'></script>
  {% endunless %}

  {% if site.test %}<script src='{{site.url}}/test/tape.js'></script>{% endif %}
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js'></script>
  {% if page.head %}{{page.head}}{% endif %}
</head>
<body class='{{page.class}} {{page.options}}{% if page.blog_featured == true %} bleed{% endif %}'>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PQR37Z" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-PQR37Z');</script>
<!-- End Google Tag Manager -->

<!-- set lang variable -->
{% if page.lang %}{% assign lang = page.lang %}{% endif %}

<div class="about fill-purple dark">
  <div class="limiter pad4 prose">
  <h2>Mapbox <span class="icon heart"></span>OpenStreetMap</h2>
  {% assign intro = "intro/" | append: lang | append: ".html" %}{% include {{intro}} %}
  </div>
</div>

<div class="fill-darkblue dark pad4y">
<div class='limiter clearfix contain'>
<a href="#" class="pin-right" id="about"><span class="icon info"></span></a>
  <div class="pad2y clearfix">
    <a href="{{site.baseurl}}/{% if page.lang != 'en' %}{{page.lang}}/{% endif %}" class="fl" style="width: 60px; margin-right: 20px;">
      {% include svgs/logo.svg %}
    </a>
    <div class="fl">
    <h1 class="human">{{page.title}}</h1>
    <p class="quiet space-top0">{% include translate.html swap='Mapping guides' lang=page.lang %}</p>
    </div>
  </div>
  {% if lang == 'en' %}<a class="button fill-lighten0 language pad2x space-top4" href="{{site.baseurl}}/es/">Español</a>{% else %}<a class="button fill-lighten0 language pad2x space-top4"  href="{{site.baseurl}}/">English</a>{% endif %}

</div>
</div>


<div class='page-content'>

<div class='{% unless page.options contains 'full' %} limiter clearfix{% endunless %}'>{{content}}</div>

<div class='fill-darkblue dark footer-in-docs terms-in-docs col12 center footer-copyright small pad4 noprint contain' data-swiftype-index='false'>
  <a href='{{site.url}}/tos'>Terms</a> +
  <a href='{{site.url}}/privacy'>Privacy</a>
  &copy; Mapbox
</div>
</div>


<script type="text/javascript">
  $('#about').on('click', function(){
    $('.about').toggleClass('open');
  })

</script>

</body>
</html>