---
layout: default
head: <link rel="stylesheet" href="/mapping/site.css">
class: fill-light 
options: full
---

<!-- set lang variable -->
{% if page.lang %}{% assign lang = page.lang %}{% endif %}

<div class='limiter space-top4 prose'>
  <h1>{{page.title}}</h1>
  {% if lang == 'en' %}<a href="{{site.baseurl}}/es/">versión español</a>{% else %}<a href="{{site.baseurl}}/">English version</a>{% endif %}
</div>



<div id='guide-categories' class='guides pad4y clearfix'>
  {% assign pages = (site.pages | where: "layout", "category" | where: "lang", lang | sort: "order") %}
  {% for page in pages %}
  <!-- build guideCount-->
  {% assign langDir = page.lang | append: '/' %}
  {% assign title = page.dir | downcase | replace: langDir,'' | replace: '/','' %}
  {% assign guideCount = 0 %}{% for post in site.categories[title] %}{% assign guideCount = guideCount | plus: 1 %}{% endfor %}
  <a href="{{site.baseurl}}{{page.url | replace:'index.html',''}}" class="guide pad2y clearfix contain" id="{{page.title | downcase}}">
    <div class="fill-white image-card image-{{page.title | downcase | replace:' ','-' | replace: ',',''}} round-top  contain">
      <div class="clearfix contain guide-details">
      </div>
    </div>
    <div class="fill-white round-bottom card-content">
        <div class="col12 pad2y pad4x">
          <span class="icon dot fill-{{page.color}} inline"></span>
          <h3 class="space-bottom1 space-top1 inline">{{page.title}}</h3>
          <p class="guide-description clip prose quiet">{{page.description}}</p>
          {% if guideCount > 0 or topicCount > 0 %}<div class="caption icon book quiet small strong"> {{guideCount}} {{'guide' | swap: page.lang }}{% if guideCount > 1 %}s{% endif %}</div>{% endif %}
        </div>
    </div>
  </a>
  {% endfor %}
</div>
