---
layout: default
head: <link rel="stylesheet" href="/mapping/site.css">
class: fill-light
options: full
---

<!-- set lang variable -->
{% if page.lang %}{% assign lang = page.lang %}{% endif %}

<div class="fill-purple-light">
<div id='guide-categories' class='guides pad4y clearfix'>

  {% include search.html %}

  {% assign pages = (site.pages | where: "layout", "category" | where: "lang", lang | sort: "order") %}
  {% for page in pages %}
  <!-- build guideCount-->
  {% assign langDir = page.lang | append: '/' %}
  {% assign title = page.dir | downcase | replace: langDir,'' | replace: '/','' %}
  {% assign guideCount = 0 %}{% for post in site.categories[title] %}{% assign guideCount = guideCount | plus: 1 %}{% endfor %}
  <a href="{{site.baseurl}}{{page.url | replace:'index.html',''}}" class="guide pad2y clearfix contain" id="{{page.title | downcase}}">
  <div class="shadow fill-white round-big">
    <div class="image-card image-{{page.title | downcase | replace:' ','-' | replace: ',',''}} round-top  contain">
      
      {% if page.image %}
      {% assign illo = page.image | prepend: 'svgs/' %}
      {% include {{illo}} %}
      {% endif %}

      <div class="clearfix contain guide-details">
      </div>
    </div>
    <div class="round-bottom card-content">
        <div class="col12 pad2y pad2x center"><!--
          <span class="icon dot fill-{{page.color}} inline"></span> -->
          <h3 class="space-bottom1 space-top1 inline human center">{{page.title}}</h3>
          <p class="guide-description clip prose quiet small pad1x">{{page.description}}</p>
          {% if guideCount > 0 or topicCount > 0 %}

          <div class="guide-count fill-purple-light caption icon book quiet small strong"> {{guideCount}} {% include translate.html swap='guide' lang=page.lang %}{% if guideCount > 1 %}s{% endif %}</div>{% endif %}
        </div>
    </div>
    </div>
  </a>
  {% endfor %}
</div>
</div>
