---
layout: default
head: <link rel="stylesheet" href="/mapping/site.css">
---



<div class="pad4y clearfix ">

  {% include pager.html %}

  {% include content.html title=page.title text=content categories=page.categories %}
</div>

<script type="text/javascript" src="{{site.baseurl}}/js/affix.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/scrollspy.js"></script>

<script>
$('body').scrollspy({ target: '.toc' });

$('h2').each(function(){
    $(this).nextUntil('h2').andSelf().wrapAll('<div class="subsection clearfix" />');
});
</script>